:root {
    --white: #fff;
    --textColor: magenta;
    --border-radius: 6px;
    --backgroundColor: #404040;
}

body {
    background-color: var(--backgroundColor);
}

h1, h3 {
    color: var(--textColor);
    text-align: center;
}

#intro {
    color: var(--white);
    text-align: center;
    margin-right: 8%;
    margin-left: 8%;
}

h2 {
    color: var(--textColor);
    border: 1px solid var(--white);
    border-radius: var(--border-radius);
    padding: 4px;
    font-weight: bold;
    transition: all 0.5s ease-in-out; 
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cards p {
    color: var(--textColor);
}

#cards section {
    border: 1px dashed var(--white);
    margin: 1%;
    flex: 0 0 400px;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 0.5s ease-in-out; 
}

#cards section:hover,
#cards section:hover h2 {
        box-shadow: inset 0px 0px 8px
      rgba(232, 102, 236, 1), 0 0 15px
      rgba(232, 102, 236, 1);
      }

#cards h2 {
    position: relative;
    margin-top: -20px;
    background-color: var(--backgroundColor);
}

pre {
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%
    );
    color: var(--white);
    border-radius: var(--border-radius);
    user-select: all;
}

@media screen and (max-width: 991px) {
    #cards section {
        flex: 0 0 300px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    #cards {
        flex-direction: column;
    }

    #cards section {
        flex: 0 0 200px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    p {
        font-size: small;
    }
}